<h1>Formulario</h1>

<!-- Select Button -->
<div class="card flex justify-content-center container">
  <p-selectButton 
      [options]="stateOptions"
      optionLabel="label" 
      optionValue="value"
      [(ngModel)]="selectedOption"
      [ngModelOptions]="{standalone: true}"
      defaultLabel="maquinaria"
      (onChange)="fetchData()" />
</div>

<!-- Inputs para Maquinaria -->
<div *ngIf="selectedOption === 'maquinaria'" class="card-container flex justify-content-center container margin-top inputs-container">
  <p-floatLabel>
    <input pInputText id="mayor" [(ngModel)]="maquinaria.mayor" name="mayor" class="p-inputtext" required/>
    <label for="mayor">Mayor</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="menor" [(ngModel)]="maquinaria.menor" name="menor" class="p-inputtext" required/>
    <label for="menor">Menor</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="tipo_maquina" [(ngModel)]="maquinaria.tipo_maquina" name="tipo_maquina" class="p-inputtext" required/>
    <label for="tipo_maquina">Tipo Maquina</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="marca" [(ngModel)]="maquinaria.marca" name="marca" class="p-inputtext" required/>
    <label for="marca">Marca</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="modelo" [(ngModel)]="maquinaria.modelo" name="modelo" class="p-inputtext" required/>
    <label for="modelo">Modelo</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="year" [(ngModel)]="maquinaria.year" name="year" class="p-inputtext" required/>
    <label for="year">Año</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="serie" [(ngModel)]="maquinaria.serie" name="serie" class="p-inputtext" required/>
    <label for="serie">Serie</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="combustible" [(ngModel)]="maquinaria.combustible" name="combustible" class="p-inputtext" required/>
    <label for="combustible">Combustible</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="placas" [(ngModel)]="maquinaria.placas" name="placas" class="p-inputtext" required/>
    <label for="placas">Placas</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="qr" [(ngModel)]="maquinaria.qr" name="qr" class="p-inputtext" required/>
    <label for="qr">Codigo QR</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="horas_trabajadas" [(ngModel)]="maquinaria.horas_trabajadas" name="horas_trabajadas" class="p-inputtext" required/>
    <label for="horas_trabajadas">Horas Trabajadas</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="mantenimientos" [(ngModel)]="maquinaria.mantenimientos" name="mantenimientos" class="p-inputtext" required/>
    <label for="mantenimientos">Mantenimientos</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="color" [(ngModel)]="maquinaria.color" name="color" class="p-inputtext" required/>
    <label for="color">Color</label>
  </p-floatLabel>

  <!-- Muestra los datos obtenidos -->
  <table class="center">
    <thead>
      <tr>
        <th>ID</th>
        <th>Mayor</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Tipo de máquina</th>
        <th>Serie</th>
        <th>Placas</th>
        <th>Combustible</th>
        <th>QR</th>
        <th>Horas trabajadas</th>
        <th>Mantenimientos</th>
        <th>Color</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{item.id}}</td>
        <td>{{ item.mayor }}</td>
        <td>{{ item.marca }}</td>
        <td>{{ item.modelo }}</td>
        <td>{{ item.tipo_maquina }}</td>
        <td>{{ item.serie }}</td>
        <td>{{ item.placas }}</td>
        <td>{{ item.combustible }}</td>
        <td>{{ item.qr }}</td>
        <td>{{ item.horas_trabajadas }}</td>
        <td>{{ item.mantenimientos }}</td>
        <td>{{ item.color }}</td>
        <td><button (click)="onDelete(item)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>


  <!-- Botón para enviar el formulario -->
  <button type="button" (click)="onSubmit()">Enviar</button>
</div>


<!-- Inputs para Equipo Menor -->
<div *ngIf="selectedOption === 'equipo_menor'" class="card flex justify-content-center container margin-top inputs-container">
  <p-floatLabel>
    <input pInputText id="tipo_herramienta" [(ngModel)]="value" class="p-inputtext"/>
    <label for="tipo_herramienta">Tipo Herramienta</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="marca" [(ngModel)]="value" class="p-inputtext"/>
    <label for="marca">Marca</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="modelo" [(ngModel)]="value" class="p-inputtext"/>
    <label for="modelo">Modelo</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="year" [(ngModel)]="value" class="p-inputtext"/>
    <label for="year">Año</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="serie" [(ngModel)]="value" class="p-inputtext"/>
    <label for="serie">Serie</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="combustible" [(ngModel)]="value" class="p-inputtext"/>
    <label for="combustible">Combustible</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="placas" [(ngModel)]="value" class="p-inputtext"/>
    <label for="placas">Placas</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="qr" [(ngModel)]="value" class="p-inputtext"/>
    <label for="qr">Codigo QR</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="horas_trabajadas" [(ngModel)]="value" class="p-inputtext"/>
    <label for="horas_trabajadas">Horas Trabajadas</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="mantenimientos" [(ngModel)]="value" class="p-inputtext"/>
    <label for="mantenimientos">Mantenimientos</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="color" [(ngModel)]="value" class="p-inputtext"/>
    <label for="color">Color</label>
  </p-floatLabel>
  <div *ngFor="let item of data">
    <p>id: {{item.id}}</p>
    <p>Mayor: {{ item.mayor }}</p>
    <p>Marca: {{ item.marca }}</p>
    <p>Modelo: {{ item.modelo }}</p>
    <p>Tipo de máquina: {{ item.tipo_maquina }}</p>
    <p>Serie: {{ item.serie }}</p>
    <p>Placas: {{ item.placas }}</p>
    <p>Combustible: {{ item.combustible }}</p>
    <p>Placas: {{item.placas}}</p>
    <p>QR: {{ item.qr }}</p>
    <p>Horas trabajadas: {{ item.horas_trabajadas }}</p>
    <p>Mantenimientos: {{ item.mantenimientos }}</p>
    <p>Color: {{ item.color }}</p>
  </div>
</div>

<!-- Inputs para Herramienta -->
<div *ngIf="selectedOption === 'herramienta'" class="card flex justify-content-center container margin-top inputs-container">
  <p-floatLabel>
    <input pInputText id="descripcion" [(ngModel)]="value" class="p-inputtext"/>
    <label for="descripcion">Descripción</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="unidad" [(ngModel)]="value" class="p-inputtext"/>
    <label for="unidad">Unidad</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="no_eco" [(ngModel)]="value" class="p-inputtext"/>
    <label for="no_eco">No Eco</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="qr" [(ngModel)]="value" class="p-inputtext"/>
    <label for="qr">Codigo QR</label>
  </p-floatLabel>
  <!-- Añade más inputs según sea necesario -->
</div>

<!-- Inputs para Material Construcción -->
<div *ngIf="selectedOption === 'material_construccion'" class="card flex justify-content-center container margin-top inputs-container">
  <p-floatLabel>
    <input pInputText id="familia" [(ngModel)]="value" class="p-inputtext"/>
    <label for="familia">Familia</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="linea" [(ngModel)]="value" class="p-inputtext"/>
    <label for="linea">Linea</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="materiales" [(ngModel)]="value" class="p-inputtext"/>
    <label for="materiales">Materiales</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="descripcion" [(ngModel)]="value" class="p-inputtext"/>
    <label for="descripcion">Descripción</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="unidad_medida" [(ngModel)]="value" class="p-inputtext"/>
    <label for="unidad_medida">Unidad de medida</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="cantidad" [(ngModel)]="value" class="p-inputtext"/>
    <label for="cantidad">Cantidad</label>
  </p-floatLabel>
  <!-- Añade más inputs según sea necesario -->
</div>

<!-- Inputs para Insumos Consumibles -->
<div *ngIf="selectedOption === 'insumos_consumibles'" class="card flex justify-content-center container margin-top inputs-container">
  <p-floatLabel>
    <input pInputText id="familia" [(ngModel)]="value" class="p-inputtext"/>
    <label for="familia">Familia</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="linea" [(ngModel)]="value" class="p-inputtext"/>
    <label for="linea">Linea</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="materiales" [(ngModel)]="value" class="p-inputtext"/>
    <label for="materiales">Materiales</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="descripcion" [(ngModel)]="value" class="p-inputtext"/>
    <label for="descripcion">Descripción</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="unidad_medida" [(ngModel)]="value" class="p-inputtext"/>
    <label for="unidad_medida">Unidad de medida</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="cantidad" [(ngModel)]="value" class="p-inputtext"/>
    <label for="cantidad">Cantidad</label>
  </p-floatLabel>
  <!-- Añade más inputs según sea necesario -->
</div>

