<h1>Formulario</h1>

<!-- Select Button -->
<div class="card flex justify-content-center container">
  <p-selectButton 
      [options]="stateOptions"
      optionLabel="label" 
      optionValue="value"
      [(ngModel)]="selectedOption"
      [ngModelOptions]="{standalone: true}"
      (onChange)="fetchData()" />
</div>

<!-- Inputs para Maquinaria -->
<div *ngIf="selectedOption === 'maquinaria'" class="card-container flex justify-content-center container margin-top inputs-container">
  <!-- Muestra los datos obtenidos -->
  <table class="center">
    <thead>
      <tr>
        <th>ID</th>
        <th>Mayor</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Tipo de máquina</th>
        <th>Serie</th>
        <th>Placas</th>
        <th>Combustible</th>
        <th>QR</th>
        <th>Horas trabajadas</th>
        <th>Mantenimientos</th>
        <th>Color</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{item.id}}</td>
        <td>{{ item.mayor }}</td>
        <td>{{ item.marca }}</td>
        <td>{{ item.modelo }}</td>
        <td>{{ item.tipo_maquina }}</td>
        <td>{{ item.serie }}</td>
        <td>{{ item.placas }}</td>
        <td>{{ item.combustible }}</td>
        <td>{{ item.qr }}</td>
        <td>{{ item.horas_trabajadas }}</td>
        <td>{{ item.mantenimientos }}</td>
        <td>{{ item.color }}</td>
        <td><button (click)="onDelete(item)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Inputs para Equipo Menor -->
<div *ngIf="selectedOption === 'equipo_menor'" class="card-container flex justify-content-center container margin-top inputs-container">
    <!-- Muestra los datos obtenidos -->
    <table class="center">
      <thead>
        <tr>
          <th>ID</th>
          <th>Mayor</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Tipo de máquina</th>
          <th>Serie</th>
          <th>Placas</th>
          <th>Combustible</th>
          <th>QR</th>
          <th>Horas trabajadas</th>
          <th>Mantenimientos</th>
          <th>Color</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{item.id}}</td>
          <td>{{ item.mayor }}</td>
          <td>{{ item.marca }}</td>
          <td>{{ item.modelo }}</td>
          <td>{{ item.tipo_maquina }}</td>
          <td>{{ item.serie }}</td>
          <td>{{ item.placas }}</td>
          <td>{{ item.combustible }}</td>
          <td>{{ item.qr }}</td>
          <td>{{ item.horas_trabajadas }}</td>
          <td>{{ item.mantenimientos }}</td>
          <td>{{ item.color }}</td>
          <td><button (click)="onDelete(item)">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
</div>

 <!-- Inputs para Herramienta -->
 <div *ngIf="selectedOption === 'herramienta'" class="card-container flex justify-content-center container margin-top inputs-container">
  <!-- Muestra los datos obtenidos -->
  <table class="center">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Unidad</th>
        <th>No Eco</th>
        <th>QR</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{item.id}}</td>
        <td>{{ item.descripcion }}</td>
        <td>{{ item.unidad }}</td>
        <td>{{ item.no_eco }}</td>
        <td>{{ item.qr }}</td>
        <td><button (click)="onDelete(item)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="selectedOption === 'material_construccion'" class="card-container flex justify-content-center container margin-top inputs-container">
  <table class="center">
    <thead>
      <tr>
        <th>ID</th>
        <th>Familia</th>
        <th>Linea</th>
        <th>Materiales</th>
        <th>Descripción</th>
        <th>Unidad Medida</th>
        <th>Cantidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{item.id}}</td>
        <td>{{ item.familia }}</td>
        <td>{{ item.linea }}</td>
        <td>{{ item.materiales }}</td>
        <td>{{ item.descripcion }}</td>
        <td>{{ item.unidad_medida }}</td>
        <td>{{ item.cantidad }}</td>
        <td><button (click)="onDelete(item)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>
<!--
<div *ngIf="selectedOption === 'insumos_consumibles'" class="card flex justify-content-center container margin-top inputs-container">
  <p-floatLabel>
    <input pInputText id="material_ic" [(ngModel)]="insumosConsumibles.material" class="p-inputtext"/>
    <label for="material_ic">Material</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="descripcion_ic" [(ngModel)]="insumosConsumibles.descripcion" class="p-inputtext"/>
    <label for="descripcion_ic">Descripción</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="unidad_medida_ic" [(ngModel)]="insumosConsumibles.unidad_medida" class="p-inputtext"/>
    <label for="unidad_medida_ic">Unidad de Medida</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="costo_unitario_ic" [(ngModel)]="insumosConsumibles.costo_unitario" class="p-inputtext"/>
    <label for="costo_unitario_ic">Costo Unitario</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="cantidad_ic" [(ngModel)]="insumosConsumibles.cantidad" class="p-inputtext"/>
    <label for="cantidad_ic">Cantidad</label>
  </p-floatLabel>
</div> -->

<!-- Botón de Enviar -->
<div class="card flex justify-content-center container margin-top">
  <p-button class="btn btn-primary" [routerLink]="['/create-' + selectedOption]">
    Agregar {{ selectedOption }}
  </p-button>  
</div>

<router-outlet></router-outlet>